body { /*Nome da tag que tu quer mudar o estilo e embelezar :P*/
	text-align: center;
	padding-top: 50px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.fundo { /*Se tem o ponto na frente define uma classe, que nesse caso eu uso pro fundo das div lá do html*/
	background-color: #6cbfff;
	width: 70%;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 30px;
}

select {
	margin-bottom: 10px;
	background-color: #194e77;
 	border: none;
 	color: white;
 	cursor: pointer;
 	width: 20%;
}

table {
	border:none; /*Muda as cores e os tamanhos pra tu ver como fica se tu quiser :P*/
	float: left;
	border-collapse: collapse;
	width: 25%;
}

tr {
	padding: none;
	vertical-align: text-top;
}

td {
	border: 1px solid #EDEDED;
	padding: 10px;
	margin: none;
} 

button {
	background-color: #EEF1FC;
 	border: none;
 	color: #C22900;
 	padding: 20px;
 	font-size: 16px;
 	cursor: pointer;
 	float: left;
 	width: 20%;
}

button:hover { /*Esse ":hover" quer dizer passar por cima, ai sempre que tu passar com
				 o mouse por cima ele fica do jeitinho que tu disser aqui*/
	background-color: #C22900;
	color: #EEF1FC;
	text-decoration: underline;
  	text-shadow: 1px 1px 5px #092FC6;
  	box-shadow: 0px 0px 10px #194e77;
}

input[type=text], input[type=password], input[type=email], input[type=number]{
	border-radius: 20px;
	border-color: transparent;
	height: 20px;
	padding: 3px;
	width: 80%;
	margin-bottom: 5px; 
}

input[type=radio], input[type=checkbox] { 
	width: 20px;
	cursor: pointer;
}

input[type=submit] {
	background-color: #194e77;
	width: 100px;
	height: 25px;
	color: white;
	float: right;
	cursor: pointer;
	border: none;
}

input[type=submit]:hover {
	background-color: #194077;
	box-shadow: 0px 0px 10px #194e77;
}

textarea {
	width: 500px;
	max-width: 500px;
	height: 100px;
	max-height: 100px;
}

a:link {
  	color: #194e77;
  	text-decoration: none;
}

a:visited {
  	color: #206aa0;
  	text-decoration: none;
}

a:hover {
  	color: #ffffff;
  	text-decoration: underline;
}